<!DOCTYPE web-app PUBLIC>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>capacityBuildingIndex</servlet-name>
    <servlet-class>com.sys.capacitybuilding.Index</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>capacityBuildingIndex</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>
